#about {
  background-color: var(--secondary-background);
}

#about .container {
  padding: 8rem 4rem;
  display: flex;
  gap: 2rem;
  color: var(--default-text);
  box-shadow: var(--default-shadow);
}

#about h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#about h2 .detail {
  margin-right: .25rem;
  font-weight: 400;
  color: var(--secondary-text);
}

#about .container .texts {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 3;
}

#about .container .stack {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 2px solid var(--disabled-text);
  padding-left: 2.5rem;
}

#about .container .badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

#about .badge {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--details-background);
  color: var(--default-text);
  border: 1px solid var(--details-border);
  font-size: .875rem;
  font-weight: 800;
  transition: all 0.25s ease;
}

#about .container .badge:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Layout mobile */
@media only screen and (max-width: 768px) {
  #about .container {
    flex-direction: column;
    padding: 4rem 2rem;
  }

  #about .container .texts {
    text-align: center;
    margin-top: 1rem;
  }

  #about .container .stack {
    border-left: none;
    padding-left: 0;
    border-top: 2px solid var(--disabled-text);
    padding: 2rem 0;
  }
  
}
