#home {
  min-height: 100vh;
  /* Margem negativa pelo header ser sticky :) */
  margin-top: -5rem;
  display: flex;
  align-items: center;
}

#home .container {
  display: flex;
  color: var(--default-text);
  box-shadow: var(--default-shadow);
}

.home-view {
  flex: 3;
  gap: 1rem;
  padding: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--details-background);
}

.main-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--secondary-text);
}

.main-title .name {
  font-weight: 800;
  color: var(--default-text);
}

.resume {
  padding: 1.5rem;
}

.my-photo {
  flex: 2;
  overflow: hidden;
  aspect-ratio: 1/1;
  transition: all 0.25s ease-out;
}

.my-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home button {
  color: var(--default-text);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#home button:hover {
  box-shadow: var(--default-shadow);
  transform: scale(1.05);
  filter: brightness(1.5);
}

.resume-button {
  padding: 0.5rem 1rem;
  background-color: var(--dark-background);
  font-weight: 600;
}

.main-buttons {
  flex: 1;
  display: flex;
  gap: .5rem;
}

.media-icons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.media-icons button {
  height: 2rem;
  padding: .25rem;
  background-color: var(--default-background);
}

.media-icons button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--default-text);
  transition: fill 0.25s ease-in-out;
}

/* Layout mobile */
@media (max-width: 768px) {
  #home .container {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .home-view {
    padding: 1rem;
    width: 100%;
    align-items: center;
  }
}
